<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Moxy Global</name>

  <description>
      No.1 Global Oil Company from UAE.
  </description>

  <author href="http://sylvan.co.in" email="support@sylvan.co.in">
      Team Sylvan
  </author>

</widget>